<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create product</title>
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/signup.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="text-center">
<form class="form-signup" th:action="@{/products/create}" th:object="${product}" method="post" enctype="multipart/form-data">
    <h1 class="h3 mb-3 font-weight-normal">Create product</h1>

    <div class="form-container">

        <label for="inputCategory" class="sr-only">Category</label>
        <input type="text" th:field="*{category.name}" id="inputCategory" class="form-control"
               placeholder="Category (Default: 'misc')">

        <p></p>

        <th:block th:if="${productExists!=null}">
            <p style="color: #d9534f" th:text="${productExists}"></p>
        </th:block>

        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-danger'">
            <th:block th:if="${#fields.hasErrors('name')}" th:each="e : ${#fields.errors('name')}">
                <p style="color: #d9534f" th:text="${e}"></p>
            </th:block>
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="Name" th:field="*{name}" autofocus>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('availableQuantity')}? 'has-danger'">
            <th:block th:if="${#fields.hasErrors('availableQuantity')}"
                      th:each="e : ${#fields.errors('availableQuantity')}">
                <p style="color: #d9534f" th:text="${e}"></p>
            </th:block>
            <label for="inputQuantity" class="sr-only">Quantity</label>
            <input type="text" id="inputQuantity" class="form-control" placeholder="Quantity"
                   th:field="*{availableQuantity}">
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-danger'">
            <th:block th:if="${#fields.hasErrors('price')}" th:each="e : ${#fields.errors('price')}">
                <p style="color: #d9534f" th:text="${e}"></p>
            </th:block>
            <label for="inputPrice" class="sr-only">Price</label>
            <input type="text" id="inputPrice" class="form-control" placeholder="Price" th:field="*{price}" >
        </div>

        <th:block th:if="${emptyImage!=null}">
            <p style="color: #d9534f" th:text="${emptyImage}"></p>
        </th:block>
        <div class="form-group" >
            <label for="inputFile" class="sr-only">File to upload:</label>
            <input type="file" id="inputFile" placeholder="File" th:field="*{file}" >
        </div>
        <p></p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </div>
</form>


</body>

</html>