<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Edit product</title>
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href = "@{/css/signup.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="text-center">
    <form class="form-signup" th:action="@{/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Edit product</h1>

        <th:block th:if="${invalidCategoryName!=null}">
            <p style="color: #d9534f" th:text="${invalidCategoryName}"></p>
        </th:block>

        <label class="sr-only">Category</label>
        <input type="text" class="form-control" placeholder="Category" th:field="*{categoryName}" required>

        <p></p>

        <label class="sr-only">Name</label>
        <input type="text" class="form-control" placeholder="Name" th:field="*{name}"  required autofocus>

        <label class="sr-only">Quantity</label>
        <input type="text" class="form-control" placeholder="Quantity" th:field="*{quantity}" required>

        <label class="sr-only">First name</label>
        <input type="text" class="form-control" placeholder="Price" th:field="*{price}" required>

        <p></p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
    </form>
</body>
</html>