<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Scaleshop Home</title>
    <link href= "https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/cover.css}" rel="stylesheet">
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column" >
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">ScaleShop</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" th:href="@{/home}">Home</a>
                <a class="nav-link" th:href="@{/products/browse}">Browse</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" ></a>
                <a class="nav-link" ></a>
                <th:block sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/user/register}">Sign up</a>
                <a class="nav-link" th:href="@{/user/login}">Sign in</a>
                </th:block>
                <th:block sec:authorize="hasRole('USER')">
                    <p class="nav-link" th:text="${username}"></p>
                    <a class="nav-link" th:href="@{/cart}">Cart</a>
                    <a class="nav-link" th:href="@{/user/logout}">Logout</a>
                </th:block>
                <th:block sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/cart}">ADMIN PANEL</a>
                    <a class="nav-link" th:href="@{/user/logout}">Logout</a>
                </th:block>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to ScaleShop.</h1>
        <p class="lead">ScaleShop is the place where you can find everything you need.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><a href="https://www.scalefocus.com/">Scalefocus</a></p>
        </div>
    </footer>
</div>

</body>
</html>