<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<section class="contact py-5 bg-light" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Thank you! Your purchase has been submitted!</h4>
                <hr>
                <a th:href="@{/home}"><h5>Back to homepage</h5></a>
            </div>
        </div>
    </div>
</section>