<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Purchase</title>
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href = "@{/css/grid.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">

    <h1>List of users</h1>
    <div align="right">
        <a th:href="@{/home}"><h2>Home</h2></a>
    </div>

    <hr>

    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Change Role</th>
        </tr>
        </thead>

        <div th:each="user : ${users}" th:object="${user}">
            <tbody>
            <tr>
                <td><p th:text="*{username}"></p></td>
                <td><p th:text="*{role.name}"></p></td>

                <form th:action="@{/user/setModeratorRole}" method="post">
                    <th:block th:if="*{role.name == 'USER'}">
                        <input type="hidden" name="username" th:value="*{username}">
                        <td><input type="submit" value="Make MODERATOR" ></td>
                    </th:block>
                </form>

                <form th:action="@{/user/setUserRole}" method="post">
                    <th:block th:if="*{role.name == 'MODERATOR'}">
                        <input type="hidden" name="username" th:value="*{username}">
                        <td><input type="submit" value="Make USER"></td>
                    </th:block>
                </form>
            </tr>
            </tbody>
        </div>
    </table>


</div>
</body>
</html>